{% extends 'layoutadmin.html.twig' %}
{% block title %}Tableau de bord{% endblock %}
{% block body %}
    <article>
        <h1>
            By<br/>Nabil<br/>Bouna<br/>2018
        </h1>

    </article>
{% endblock %}